$bkrd-primary-color: #ffffe2;

$primary-black: #181818;
$primary-grey: #636466;

$primary-color-xdrk: #7a0c00;
$primary-color-drk: #a41e11;
$primary-color: #d82c20;
$primary-color-lt: #f1a7d5;

$secondary-color: #e9cc7e;
$secondary-color-lt: #ffecd2;
$secondary-color-xlt: #ffffe2;

$tertiary-color-xdrk: #38325e;
$tertiary-color-drk: #5f374d;
$tertiary-color: #80424c;
$tertiary-color-lt: #96433d;