$bkrd-primary-color: #ffffe2;

$primary-black: #181818;
$primary-grey: #636466;

$primary-color-xdrk: #7A0C00;
$primary-color-drk: #A41E11;
$primary-color: #D82C20;
$primary-color-lt: #F1A7D5;

$secondary-color: #e9cc7e;
$secondary-color-lt: #ffecd2;
$secondary-color-xlt: #ffffe2;

$tertiary-color-xdrk: #38325e;
$tertiary-color-drk: #5f374d;
$tertiary-color: #80424c;
$tertiary-color-lt: #96433d;